<!-- COLLAPSABLE -->
<div class="collapsable is-collapsed">
   <div class="collapsable--header f-center">
        <figure class="portrait">
            <img src="img/article/collapsable1-thumb.jpg">
        </figure>
        <span class="f-font1 f-weight400 f-h6 f-flash">
            Prévention: Avant de sortir, se former et s’informer
        </span>
        <span class="f-font2 f-weight400 f-h5 f-gray-medium f-aa">
            Il existe aujourd’hui, et de plus en plus, une multitude de sources d’information utiles pour se préparer au mieux au ski hors piste ou, plus généralement, aux sorties en montagne. Sans prétention d’exhaustivité, Le Temps en a sélectionné quelques-unes...
        </span>
        <button type="button" class="btn btn-default btn-lg btn-reveal f-font3 f-weight600 f-aa">Ouvrir</button>
    </div>

    <div class="collapsable--content">
        {# .interview ok here #}
    </div>
            
    <div class="collapsable--footer f-center">
        <button type="button" class="btn btn-default btn-lg f-font3 f-weight600 f-aa">Révéler</button>
    </div>
</div>

<!-- PICTURE full -->
<div class="box-full col-md-12">
    <div class="row">
        <div class="spacer-sm"></div>
        <figure class="figure-lg">
            <img class="img-responsive zoom lazy" data-original="img/article/inter-b.jpg">
            <div class="row">
                <!-- <figcaption class="f-font1 f-aside f-gray-medium f-aa col-md-4">
                    <div class="spacer-xl"></div>
                    Le Salento (Salentu en dialecte) constitue l'extrémité sud-est de la région des Pouilles en Italie. Décrit comme étant le
                    « talon de la botte italienne », il englobe la totalité de la province de Lecce.
                </figcaption> -->
            </div>
        </figure>
        <div class="spacer-xl"></div>
    </div>
</div>

<!-- PICTURE normal -->
<div class="box-full col-md-12">
    <div class="row">
        <div class="spacer-sm"></div>
        <figure class="figure-sm ">
            <img class="img-responsive zoom lazy col-md-8" data-original="img/article/inter-b.jpg">
            <figcaption class="f-font1 f-aside f-gray-medium f-aa col-md-4">Il s'est senti totalement impuissant. Rescapé de l'avalanche, Christian s'en éloigne sur un ski. Il retrouvera le second
                au printemps.</figcaption>
        </figure>
        <div class="spacer-xl"></div>
    </div>
</div>

<!-- PICTURE aside (doit marcher avec un autre contenu.) -->
<div class="box-aside col-md-4" style="color:red; display: inline; overflow: auto;">
    <figure>
        <img class="zoom lazy" data-original="img/article/slider10.jpg">
        <!-- <canvas id="myChart3"></canvas> -->
        {# <iframe src="https://www.google.com/maps/d/embed?mid=1TmQSB0qYXFW8bM6_4S4E50-71LB4EJch" class="google-map"></iframe> #}
        <div class="spacer-xl"></div>
        <figcaption class="f-font1 f-aside f-gray-medium f-aa">En plein foyer de l'épidémie, au milieu des oliviers desséchés, Tina Minerva et son association parviennent à guérir des arbres grâce à des méthodes respectueuses de l'environnement</figcaption>
    </figure>
</div>

<!-- VIDEO FULL LARGEUR AVEC CAPTION (gros layout avec vidéo wrapper dedans) -->
<div class="box-full col-md-12">
    <div class="row">
        <div class="spacer-sm"></div>
        <figure class="figure-lg">
            <div class="video-wrapper">
                <div class="video-wrapper-flex">
                    <iframe src="https://player.vimeo.com/video/252306951?color=ffffff&title=0&byline=0&portrait=0" width="640" height="360"
                        frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
            </div>
            <div class="row">
                <figcaption class="f-font1 f-aside f-gray-medium f-aa col-md-4">
                    <div class="spacer-xl"></div>
                    Comment porter secours à une victime d'avalanche? Les conseils de Yann Décaillet, guide de montagne.
                </figcaption>
            </div>
        </figure>
        <div class="spacer-xl"></div>
    </div>
</div>

<!-- SLIDER avec une seul légende (lazyloading) -->
<div class="box-aside col-md-4" style="color:red; display: inline; overflow: auto; margin-bottom: 70px;">
    <div class="slider owl-carousel owl-theme">
        <img class="owl-lazy" data-src="img/article/infog1.png">
        <img class="owl-lazy" data-src="img/article/infog2.png">
        <img class="owl-lazy" data-src="img/article/infog3.png">
        <img class="owl-lazy" data-src="img/article/infog4.png">
        <img class="owl-lazy" data-src="img/article/infog5.png">
    </div>
    <div class="spacer-md"></div>
    <figcaption class="f-font1 f-right f-aside f-gray-medium f-aa">Extrait d'une bande-dessinée qui aura aidé Cachou à soigner son traumatisme.</figcaption>
</div>

<!-- PICTURE full avec chart-->
<div class="box-full col-md-12">
    <div class="row">
        <div class="spacer-sm"></div>
        <figure class="figure-lg">
           <canvas id="myChart" ></canvas>
            <div class="row">
                <figcaption class="f-font1 f-aside f-gray-medium f-aa col-md-4">
                    <div class="spacer-xl"></div>
                    Le Salento (Salentu en dialecte) constitue l'extrémité sud-est de la région des Pouilles en Italie. Décrit comme étant le
                    « talon de la botte italienne », il englobe la totalité de la province de Lecce.
                </figcaption>
            </div>
        </figure>
        <div class="spacer-xl"></div>
    </div>
</div>